
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: 	#ffffff;
    margin: 0px;
}

.contenedor-menu{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.5px;
}

.contenedor-imagen-mundial{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-imagen-mundial img{
    width: 120px;
}


.menu{
    display: flex;
    list-style: none;
}

.menu li{
    padding-left: 30px;
    padding-right: 30px;
}

.menu a{
    text-decoration: none;
    color: #8d1c3d;
    font-weight:lighter;
    position: relative;
}

.menu a::after {
    content: "";
    background-color: #8d1c3d;
    position: absolute;
    left: 0;
    top:  calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.seleccion::after,
.menu a:hover::after {
    opacity: 1;
}


.contenedor-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-registrarse{
    padding-right: 13px;
}

.registrarse{
    text-decoration: none;
    color: #8d1c3d;
    font-weight:lighter;
}

.linea-usuario{
    height:40px;
    width:0.5px;
    border-width:0;
    color:#000;
    background-color:#000;
}

.contenedor-iniciarsesion{
    padding-left: 12px;
}

.iniciar-sesion{
    text-decoration: none;
    color: #8d1c3d;
    font-weight: lighter;
}