
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: 	#ffffff;
    margin: 0px;
    align-items: flex-start;
    min-height: 100vh;
}

.contenedor-menu{
    background-color: #f2eee3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.5px;
    margin-bottom: 20px;
}

.contenedor-imagen-mundial{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-imagen-mundial img{
    width: 120px;
}


.menu{
    display: flex;
    list-style: none;
}

.menu li{
    padding-left: 30px;
    padding-right: 30px;
}

.menu a{
    text-decoration: none;
    color: #8d1c3d;
    font-weight:lighter;
    position: relative;
}

.menu a::after {
    content: "";
    background-color: #8d1c3d;
    position: absolute;
    left: 0;
    top:  calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.seleccion::after,
.menu a:hover::after {
    opacity: 1;
}


.contenedor-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-registrarse{
    padding-right: 13px;
}

.registrarse{
    text-decoration: none;
    color: #8d1c3d;
    font-weight:lighter;
}

.linea-usuario{
    height:40px;
    width:0.5px;
    border-width:0;
    color:#000;
    background-color:#000;
}

.contenedor-iniciarsesion{
    padding-left: 12px;
}

.iniciar-sesion{
    text-decoration: none;
    color: #8d1c3d;
    font-weight: lighter;
}

a{
  text-decoration: none;
}

.contenedor-noticias-estadios{
  background-image: linear-gradient(rgba(5, 7, 12, 0.37), rgba(5, 7, 12, 0.392)), url('https://media.gq.com.mx/photos/630a6943bdfc76974d4fcbdb/16:9/w_2560%2Cc_limit/GettyImages-1404717152%2520(1).jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 50px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.noticias-estadios{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  color: #ffffff;
  font-size: larger;
  font-weight: bold;
}

.noticias-estadios button{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2f2f2f;
  font-size: medium;
  font-weight: bold;
}

.contenedor-trending-general{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.contenedor-sticky{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 50px;
  margin-right: 60px;
}

.contenedor-sticky span{
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 120%;
  font-weight: bold;
}

.contenedor-sticky img{
  width: 200px;
}

.contenedor-tendencias{
  display: flex;
  flex-wrap: wrap;
}

.tendencia-1{
  width: 350px;
  margin-right: 30px;
  background-color: #f4f2efec;
  border-radius: 10px;
  padding-bottom: 20px;
}

.tendencia-2{
  width: 340px;
  margin-right: 30px;
  background-color: #f4f2efec;
  border-radius: 10px;
  padding-bottom: 21px;
}

.tendencia-3{
  width: 350px;
  margin-right: 30px;
  background-color: #f4f2efec;
  border-radius: 10px;
  padding-bottom: 30px;
}

.tendencia-1 img{
  width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tendencia-2 img{
  width: 340px;
  height: 195px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tendencia-3 img{
  width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contenedor-texto-noticia{
  width: 340px;
  margin-left: 10px;
  margin-top: 10px;
}

.contenedor-texto-noticia span{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #8d1c3d;
}

.contenedor-texto-noticia p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-weight: bold;
  color: #3e3e3e;
}


.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #fcfcfc;
    background-color: #2c2c2c;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 2rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }

  .footer a:hover{
    transition: 0.3s;
    color: #fefefe;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
  
    .footer__addr {
      flex: 1 0px;
    }
  
    .footer__nav {
      flex: 2 0px;
    }
  }