.contenedor-titulo-fase-grupos{
    margin-top: 50px;
    margin-left: 40px;
}

.contenedor-titulo-fase-grupos span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: bold;
}


.contenedor-tabla-grupo-a{
    margin-top: 50px;
    margin-left: 370px;
    margin-right: 370px;
    border: solid 1.5px black;
    border-radius: 10px;
}

.contenedor-tabla-grupo-b{
    margin-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    border: solid 1px black;
    border-radius: 10px;
}

.contenedor-tabla-grupo-c{
    margin-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    border: solid 1.5px black;
    border-radius: 10px;
}

.contenedor-tabla-grupo-d{
    margin-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    border: solid 1.5px black;
    border-radius: 10px;
}

.contenedor-tabla-grupo-e{
    margin-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    border: solid 1.5px black;
    border-radius: 10px;
}

.contenedor-tabla-grupo-f{
    margin-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    border: solid 1.5px black;
    border-radius: 10px;
}

.contenedor-tabla-grupo-g{
    margin-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    border: solid 1.5px black;
    border-radius: 10px;
}

.contenedor-tabla-grupo-h{
    margin-top: 30px;
    margin-left: 370px;
    margin-right: 370px;
    margin-bottom: 50px;
    border: solid 1.5px black;
    border-radius: 10px;
}


table {
    width: 97%;
    text-align: left;
    border-collapse: collapse;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fila-encabezado td{
    font-size: 13px;
    font-weight: bold;
    color: #3e3e3e;
    border-top: solid 1px #3e3e3e;
}

.fila-normal{
    border-top: solid 0.5px #3e3e3e;
}

.fila-normal td{
    font-size: 15px;
    font-weight: bold; 
}

.columna-equipo{
    width: 300px;
}

.columna-numeros{
    width: 50px;
    text-align: center;
}

th{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}