@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --fuente_body:'Poppins', sans-serif;
}

body{
    background-color: 	#ffffff;
    margin: 0px;
}

.contenedor-menu{
    background-color: #e1c396;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor-imagen-mundial{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-imagen-mundial img{
    width: 120px;
}

.contenedor-botones-principales{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
}

.contenedor-botones-principales a{
    text-decoration: none;
}

.botones-menu{
    display: flex;
    align-self: center;
    padding: 20px;
    margin-right: 15px;
    height: 100%;
    border: none;
    background-color: #e1c396;
    color: #8d1c3d;
    font-weight: bold;
}

.botones-menu:hover{
    background-color: #8d1c3d;
    color: #ffffff;
}

.contenedor-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.contenedor-imagen-usuario img{
    width: 40px;
}